$primary-color: #282460;
$color-primary: #184341;
$color-secondary: #54595F;
$color-gold: #e5c68b;
$color-link: #5b7bfb;
$color-link-hover: #181b31;
$color-gradient-start: #007fff;
$color-gradient-stop: #ff4d54;
$grey: #626974;
$black: #000;
$white: #fff;
