.InvestmentOpportunities {
    &__card {
        &__wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            width: 100%;
        }

        &__image {
            border-radius: 50em;
            width: 230px;
        }

        &__label {
            color: var(--color-primary);
            font-size: 20px;
            margin-block-start: 20px;
        }
    }
}