.swiper-free-mode > .swiper-wrapper {
    transition-timing-function: linear !important;
}

.swiper-slide {
    color: #e8e8e8;
    font-family: 'Vazirmatn';
    font-size: 12vw;
    font-weight: 900;
    width: fit-content !important;
}
