.Transformation3dWrapper {
    perspective: 1200px;

    .Transformation {
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s linear;

        img {
            height: auto;
            max-width: 100%;
            object-fit: cover;
        }

        &:hover {
            transition: none;
        }
    }
}

.TestTransform {
    width: 100%;
    margin-block-start: 120px;
    margin-block-end: 40px;

    .Test {
        padding-inline: 15px;
        margin-inline: auto;
        max-width: 1140px;
    }

    .TestWrapper {
        display: flex;
        position: relative;
    }

    .Text {
        padding: 15px;
        width: 50%;

        .TextWrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            color: rgb(98, 105, 116);
            font-size: 17px;
            line-height: 25.5px;
            gap: 15px;
            margin-inline: 10%;

            .Header {
                font-size: 50px;
                font-weight: 900;
                color: rgb(40, 36, 96);
                margin-block-end: 20px;
            }

            .Content {
                max-width: 430px;
                margin-block-end: 20px;
            }

            .Date,
            .Location {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 5px;

                svg {
                    fill: #E5C68B;
                }
            }
        }
    }

    .Images {
        width: 50%;
        padding: 15px;
        position: relative;

        .Dots {
            position: absolute;
            top: -35px;
            left: -15px;
        }

        .Shape {
            position: absolute;
            top: -80px;
            right: -80px;
        }
    }
}