.Video {
    position: relative;
    z-index: -1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 70px;
    }

    video {
        top: 0;
        position: absolute;
        width: 100%;
        height: inherit;
        object-fit: fill;
        z-index: -1;
    }
}